::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
        "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.cursor-magnifying-glass {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
@layer utilities {
    .right-nav {
        @apply p-2 bg-inherit shadow-none rounded hover:!shadow-none hover:!underline underline-offset-1 hover:!underline-offset-1 text-[#111111] text-lg capitalize;
    }
    .button {
        @apply shadow-none hover:!shadow-none rounded-full transition-all duration-300 ease-in-out;
    }
    .button--primary {
        @apply px-3 py-3 bg-[#E60023] hover:bg-red-800 hover:text-gray-200 text-white text-lg capitalize;
    }
    .button--secondary {
        @apply px-3 py-3 bg-gray-300 hover:bg-gray-400 text-[#111111] text-lg capitalize;
    }
    .button--navigate {
        @apply p-2 bg-inherit shadow-none hover:!shadow-none hover:!bg-gray-300 text-[#111111] text-lg capitalize font-semibold rounded-3xl min-w-[60px];
    }
    .button--navigate--active {
        @apply p-2 bg-[black] shadow-none hover:!shadow-none text-white text-lg capitalize font-semibold rounded-3xl select-none min-w-[60px];
    }
}
